@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
    
}

.right {
  margin-left: 20px;
}

.icon-container {
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s ease-in-out;
}


.icon-container:hover {
  background-color: #1e1e1e;
}
.container {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.sidebar {
  background: black;
  color: aliceblue;
  height: 100%;
  width: 300px;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.close {
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 50px;
  background-color: blueviolet;
  cursor: pointer;
  transition: transform 0.3s ease;
  right: 65px; /* Добавлено для выравнивания .close */
  transform: translateX(300px);

}

.close.opened {
  transform: translateX(0px);
}

.sidebar.closed {
  transform: translateX(100%);
}

.active {
  color: green;
}

.bottom-button {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px 40px;
  background-color: #7e8e9e;
  color: white;
  border: none;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}


@media(max-width: 400px) {
  .line {
    position: absolute;
    display: none;
  }
  .avatars {
    position: absolute;
    display: none;
  }
  .post_img {
    margin-left: -50px;
  }
}